.navi-bar {
  -webkit-user-select: none;
  user-select: none;

  &.draggable, .draggable {
    -webkit-app-region: drag;
  }

  .MainTabs, input {
    -webkit-app-region: no-drag;
  }
}

.main-container {
  padding: 4px 6px;
  height: auto;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.none-selection {
  user-select: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bin-list {
  height: 100%;
  flex: none;
  width: auto;
  overflow-y: auto;
}

.bin-list::-webkit-scrollbar {
  width: 4px;
  height: 0;
  background: rgba(148, 165, 189, 0.4);
}

.bin-list::-webkit-scrollbar-thumb {
  width: 1px;
  background: rgba(33, 93, 176, 0.5);
}

.img-list {
  width: 200px;
  background: bisque;
}

.img-viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.viewer-canvas {
  background: gray;
  flex: 1;
}