.navi-bar {
  -webkit-user-select: none;
  user-select: none;

  &.draggable, .draggable {
    -webkit-app-region: drag;
  }

  .MainTabs, input {
    -webkit-app-region: no-drag;
  }
}

.main-container {
  padding: 4px 6px;
  height: auto;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.none-selection {
  user-select: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bin-list {
  height: 100%;
  flex: none;
  width: auto;
  overflow-y: auto;
}

.list-scroller {
  &::-webkit-scrollbar {
    width: 6px;
    height: 0;
    background: rgba(148, 165, 189, 0.4);
  }

  &::-webkit-scrollbar-thumb {
    width: 1px;
    background: rgba(52, 108, 183, 0.5);
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 6px;
      height: 0;
      background: rgba(148, 165, 189, 0.4);
    }

    &::-webkit-scrollbar-thumb {
      width: 1px;
      background: rgba(21, 90, 178, 0.6);
    }
  }
}

.img-list {
  width: 200px;
  flex: none;

  .g-item {
    display: flex;
    place-items: center;

    &:hover {
      background: #efefef;
    }

    &.selected {
      background: #ccc !important;
    }
  }

}

.img-viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.viewer-canvas {
  background: #cdcdcd;
  object-fit: scale-down;
  object-position: 0 0;
  width: 100%;
  flex: 1;
  height: 1px;
}
