html, body {
  user-select: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
  box-shadow: none;
}

//.bp5-input:focus{
//  box-shadow: 0 0 0 0 rgba(45, 114, 210, 0), 0 0 0 0 rgba(45, 114, 210, 0), inset 0 0 0 1px rgba(17, 20, 24, 0.2), inset 0 1px 1px rgba(17, 20, 24, 0.5);
//}